<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <body class="container" layout:fragment="body">

        </br>
        </br>

        <a class="btn btn-success" th:href="@{/alumno/add}"> Agregar <i class="bi bi-person-fill-add"></i></a>
        <a class="btn btn-warning" th:href="@{/alumno/cargamasiva}"> Carga masiva <i class="bi bi-file-earmark-arrow-up-fill"></i></a>
        <!--<a th:href="@{/alumno/add}"></a>-->

        </br>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th class="col-1">Accion</th>
                    <th class="col-4">Nombre</th>
                    <th class="col">Contacto</th>
                    <th class="col">Direccion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="alumno: ${alumnos}">
                    <td></td>
                    <td th:text="|${alumno.Nombre} ${alumno.ApellidoPaterno}|"></td>
                    <td></td>
                    <td><a th:href="@{alumno/detail/{idAlumno}(idAlumno = ${alumno.IdAlumno })}" class="btn btn-warning"><i class="bi bi-eye"></i></a></td>
                </tr>
            </tbody>
        </table>

        <script th:if="${successMessage}" th:inline="javascript">
            Swal.fire({
                title: [[${successMessage}]],
                icon: "success",
                draggable: true
            });
        </script>
    </body>
</html>
